* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    /*ZERA AS MARGENS DO PROJETO*/
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
}

.iphone {
    width: 375px;
    height: 750px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #F4F4F4;

}


header {
    width: 375px;
    height: 66px;
    background-color: #1B83E2;
}

h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 18px;
    color: #F4F4F4;
    text-align: center;
    padding-top: 23px;
}

main {
    padding: 24px;
}

label {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #777777;
}

select {
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    display: block;
    width: 100%;
    cursor: pointer;
    outline: none;
    /*tira borda*/
    appearance: none;
    /*tira a setinha do select*/
    padding: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    margin-top: 6px;
    margin-bottom: 24px;
}

input {
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    display: block;
    width: 100%;
    outline: none;
    /*tira borda*/
    padding: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    font-size: 18px;

}

button {
    width: 327px;
    height: 48px;
    background: #1B83E2;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    margin-top: 24px;
    margin-bottom: 36px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: #F4F4F4;
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.7;
}

section {
    width: 327px;
    height: 276px;
    left: 24px;
    top: 458px;
    border: 1px solid #1B83E2;
    border-radius: 4px;
}

.section-one {
    text-align: center;
    padding:5px;

}

.currency-name {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #777777;
}

.currency-valor {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 18px;
    color: #1B83E2;
}

.seta-arrow {
    margin: 15px auto;
    display: block;
}